    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-4" *ngFor="let p of posts">
            <article class="position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{ p.post_img }}" class="img-fluid" alt="">
                <span class="post-date"> {{ p.post_date }} </span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title"> {{ p.title }} </h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2"> {{ p.post_author.name }} </span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2"> {{ p.post_category }} </span>
                  </div>
                </div>

                <p> {{ p.content }} </p>

                <hr>

                <a [routerLink]="['post/', p.id]" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </article>
          </div><!-- End post list item -->

        </div>
      </div>

    </section><!-- /Blog Posts Section -->
